{% extends "base.html" %}

{% block title %} - About{% endblock %}

{% block content %}
  <div class="row text">
    <div class="col-md-12">
      <h1>About</h1>
      SatNOGS DB is an effort to create an hollistic, unified, global transmitter database for all satellite
      transmitters. You can export the data or even connect your application using our API.
      It's part of the <a href="https://satnogs.org/" target="_blank">SatNOGS project</a>.
      <h3>Data</h3>
      The DB is open to everyone. Anyone is able to submit suggestions or use the existing Transmitters
      All data are public and freely under the
      <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Atribution-Share Alike</a> license.
      <h3>Coding</h3>
      Fluent in Python and/or JS? We need you to help with satnogs-db web application. Take a look to our
      <a href="https://gitlab.com/librespacefoundation/satnogs/satnogs-db" target="_blank">source code</a> or visit
      our <a href="https://gitlab.com/librespacefoundation/satnogs/satnogs-db/issues" target="_blank">issues tracker</a>
      to start filling bugs, feature requests or code fixes for existing ones.
      Detailed contribution and development documentation is also availble at
      <a href="https://docs.satnogs.org/projects/satnogs-db/en/stable/" target="_blank">docs.satnogs.org</a>.
    </div>
  </div>
{% endblock content %}
